/*Gold Rush(Top)*/
body{
	padding-right: 40px;
	padding-top: 30px;
	text-align: center;
	background-color:burlywood;
	display: flex;
	flex-direction: row;
}


.Container h1 {
	text-align: center;
	margin-top: 0;
  }
  

header{
	text-align: center;
}

img{
	background-color: black;
}


span{
	color: green;
}


.container{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #f0f0f0;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .Types {
	text-align: center;
	align-self: center;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
  }

  .Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }

  .Container p{
	border: 2px solid black;
    padding: 10px; 
    background-color: lightgrey;
	font-style: italic;
  }
  
  .Container h1{
	display: inline-block;
	animation: flash 2s infinite;
  }

  ul{
	padding-right: 5%;
	list-style: none;
	text-align: center;
  }
  
  @keyframes flash {
	0% {
	  color: green;
	}
	50% {
	  color: gold;
	}
	100% {
	  color: green;
	}
  }
  
  
  
  .types-box {
	border: 2px solid black;
	padding: 10px;
	background-color: lightgrey;
	width: 80%; 
	margin: 0 auto; 
  }
  
  


/*Footer*/
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:burlywood;
	text-align: center;
	padding: 10px;
	

}

.copyright p{
	text-align: center;
}





